@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

img,
svg,
video,
canvas {
  max-width: 100%;
}
